$main_colour: #001a33;
$theme_colour: #000d1a;
$font_backgroud_colour: #f5f8ff;

$body_colour: $theme_colour;
$body_backgroud_colour: $font_backgroud_colour;
$body_font_size: 15px;
$sidebar_colour: $font_backgroud_colour;
$sidebar_a_hover_colour: #4da6ff;
$sidebar_background_colour: $theme_colour;
$scrollbar_colour: $main_colour;
$scrollbar_thumb_colour: $body_backgroud_colour;
$scrollbar_track_colour: $main_colour;
$header_text_shadow: 2px 4px 5px #cce5ff;
$header_border_colour: $theme_colour;
$header_a_colour: $main_colour;
$page_table_border: 1px solid $main_colour;

/* content */
$content_code_background: $font_backgroud_colour;

$code_webkit_box_shadow: inset 0 1px 10px rgba(141, 158, 182, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
$code_moz_box_shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);
$code_box_shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1);

$content_em_strong_text_shadow: 1px 1px 2px $main_colour;
$content_em_strong_colour: $theme_colour;
$content_strong_text_shadow: 0 0 2px $main_colour;
$content_strong_colour: $theme_colour;

/* block */
$block_backgroud_colour: rgb(242, 248, 255);
$block_colour: $main_colour;

$ref_background: #001a33a3;
$ref_colour: snow;
$ref_code_colour: $ref_colour;
$ref_code_webkit_box_shadow: $code_webkit_box_shadow;
$ref_table_border: 1px solid snow;

$tip_background: #cce5ff;
$note_background: #a0b2ec;
$info_background: #f3b07a;
$warn_background: #dd9b9b;
